__pycache__/
*.pyc

# Ambiente local
.env

# Banco de dados local
instance/
*.db
*.sqlite
*.sqlite3

# Backups
*.bak
*.backup
*.backup_*
*_backup.py
*_backup.html

# Uploads locais
uploads/

# Executáveis locais
cloudflared.exe

# Arquivos temporários
CAMINHO_DO_ARQUIVO.txt
K85136898088957