{% extends "base.html" %}

{% block conteudo %}

<h1>✏️ Editar Despesa</h1>

<div class="card shadow p-4">

<form method="POST">


<label>Descrição</label>

<input
type="text"
name="descricao"
class="form-control mb-3"
value="{{ despesa.descricao }}"
required>



<label>Categoria</label>

<select
name="categoria"
class="form-control mb-3">


<option>{{ despesa.categoria }}</option>

<option>Casa</option>
<option>Alimentação</option>
<option>Transporte</option>
<option>Saúde</option>
<option>Lazer</option>
<option>Outros</option>


</select>



<label>Valor</label>

<input
type="number"
name="valor"
step="0.01"
class="form-control mb-3"
value="{{ despesa.valor }}"
required>



<button class="btn btn-danger">
Salvar alteração
</button>


<a href="{{ url_for('financeiro.index') }}"
class="btn btn-secondary">
Cancelar
</a>


</form>

</div>


{% endblock %}